<!DOCTYPE html>
<html>
<head>
  <title>ECA_Portal</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/styleLogin.css" />
</head>

 <div class = "container">
  <div class="row" >
      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}
      
      {{{body}}}
    <div class = "col-xs-12">
        {{#if errors}}
              {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
              {{/each}}
        {{/if}}
      </div>
    </div>
    
<div class="row">
  <img src="https://ecaportal.lums.edu.pk/wp-content/uploads/2016/06/LUMS-logo-1.png" width=15% height=15%>
</div>

  <h1 align="center" style=" color:#800000; font-weight: 800; font-size: 450%; "> ECA PORTAL </h1>
 
    <div class="row">
<!-- </div> -->

      <div  style="border-right:5px ">
     <body class="text-center">
      <form class="form-signin" method="post" action="/users/login">
        <h2 class="h4 mb-4 font-weight-normal" style="color:#800000; margin-top: 30% "><b>SIGN IN</b></h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name = "email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name = "password">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div style="margin: 10%">
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: #800000">SIGN IN</button>
          <div style="margin-top: 5%">
            <!-- <a href="http://google.com">Forgot password?</a>  -->
          </div>
        </div>
      </form>
    </body>
  </div>

<!--     <div class = "col-xs-6">
    <body class="text-center">
      <form class="form-signin" method="post" action="/users/register">
        <h1 class="h3 mb-3 font-weight-normal" style="color:#420c7a "><b>Sign Up</b></h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">
        <label for="inputFName" class="sr-only">First Name</label>
        <input type="text" id="inputFName" class="form-control" placeholder="First name" required autofocus name="firstName">
        <label for="inputLName" class="sr-only">Last Name</label>
        <input type="text" id="inputLName" class="form-control" placeholder="Last name" required autofocus name="lastName">
        <label for="inputContact" class="sr-only">Contact No.</label>
        <input type="number" id="inputContact" class="form-control" placeholder="Contact No." required autofocus name="ContactNumber">
        <label for="inputPassword" class="sr-only">Enter New Password</label>
        <input type="password" id="inputOldPassword" class="form-control" placeholder="Enter New Password" required autofocus name="password">
        <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputNewPassword" class="form-control" placeholder="Enter New Password" required autofocus name="password2">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> I agree to the Privacy Policy
          </label>
        </div>
        <div style="margin: 10%">
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: #7f00c7">Sign Up</button>
        </div>
      </form>
    </body>
  </div>
</div>
 -->

</html>